.form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-weight: bold;
  font-size: 18px;
  color: #393939;
}

.form h1 {
  color: black;
  font-size: 44px;
  margin-top: 50px;
}
