.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
}

.input-wrapper input {
  height: 42px;
  border-radius: 21px;
  padding: 9px 15px;
  color: #000000;
  /* max-width: 350px; */
}

.error {
  font-size: 15px;
  color: red;
  position: absolute;
  bottom: -17px;
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.valid {
  border: 1px solid #000000;
}
