.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.styles {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  padding: 10px 0px;
  color: #d3d3d3;
  z-index: 10;
}

.layout {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: 1px solid #ee47a0;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
}

.active-btn button {
  color: #000000;
  background-color: #ff48ab;
  font-weight: 900;
}

.search-bar input {
  width: 300px;
  padding: 10px 25px;
  border-radius: 20px;
  font: inherit;
}
