.header-footer {
  padding: 0% 10%;
  background-color: #000000;
  height: 70px;
  width: 100%;
  color: #d3d3d3;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  font-weight: bold;
}

.header-footer div {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-footer nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.footer {
}
